= f.input :name, :input_html => {:size => 50}
= f.input :company, :input_html => {:size => 50}
= f.input :mail, :input_html => {:size => 50}
= f.input :phone, :input_html => {:size => 50}
= f.input :shipping_address, :input_html => {:size => 50}
= f.input :sample_name, :input_html => {:size => 50}
.sp
%hr
.t-right
  = jq_submit_tag t('commands.save')