= render partial: 'layouts/validation_errors', locals: {errors: @requests_cloning.errors}
.sp
= simple_form_for @requests_cloning, :html => {:novalidate => true, multipart: true} do |f|

  .t-right
    =submit_tag_fa_button t('commands.save')
    =link_to_fa_button({url: requests_clonings_path, text: t('commands.cancel'), icon: 'fa-times', remote: false})
  .sp

  %h3.t-head= t('titles.user_data')
  .tbl-clonings-attr
    .col-1
      =f.label :name
    .col-2
      =f.input_field :name, :size => 70
    .col-1
      =f.label :company
    .col-2
      =f.input_field :company, :size => 70
    .col-1
      =f.label :mail
    .col-2
      =f.input_field :mail, :size => 70
    .col-1
      =f.label :phone
    .col-2
      =f.input_field :phone, :size => 70
    .col-1
      =f.label :shipping_address
    .col-2
      =f.input_field :shipping_address, :size => 70, placeholder: 'Sólo si requiere que los resultados sean enviados por paquetería (con costo adicional)'
    .col-1
      =f.label :group_leader
    .col-2
      =f.input_field :group_leader, :size => 60

  %h3.t-head= t('titles.sample_data')
  .tbl-clonings-attr
    .col-1
      =f.label :sample_name
    .col-2
      =f.input_field :sample_name, :size => 60
    .col-1
      =f.label :sample_volume
    .col-2
      =f.input_field :sample_volume, :size => 60
    .col-1
      =f.label :pcr_product_size
    .col-2
      =f.input_field :pcr_product_size, :size => 60
    .col-1
      =f.label :req_type
    .col-2
      =f.collection_radio_buttons :req_type, Requests::Cloning::TYPE, :first, :last, checked: @requests_cloning.req_type
    #seq_type
      .col-1
        =f.label :sequencing_type
      .col-2
        =f.collection_radio_buttons :sequencing_type, Requests::Cloning::SEQ_TYPE, :first, :last, checked: @requests_cloning.sequencing_type
  %h3.t-head= t('titles.invoice_data')
  .tbl-clonings-attr
    .col-1
      =f.label :payment_method
    .col-2
      =f.collection_radio_buttons :payment_method, Requests::Cloning::PMT_METHOD, :first, :last, checked: @requests_cloning.payment_method
    .col-1
      =f.label :inv_name
    .col-2
      =f.input_field :inv_name, :size => 60
    .col-1
      =f.label :inv_rfc
    .col-2
      =f.input_field :inv_rfc, :size => 60
    .col-1
      =f.label :inv_address
    .col-2
      =f.input_field :inv_address, :size => 60
    .col-1
      =f.label :inv_municipality
    .col-2
      =f.input_field :inv_municipality, :size => 60
    .col-1
      =f.label :inv_state_id
    .col-2
      =f.select :inv_state_id, options_from_collection_for_select(Requests::State.all, :id, :name, @requests_cloning.inv_state_id),  :size => 70
    .col-1
      =f.label :inv_mail
    .col-2
      =f.input_field :inv_mail, :size => 60
  .sp
  %hr
  .t-right
    =submit_tag_fa_button t('commands.save')
    =link_to_fa_button({url: requests_clonings_path, text: t('commands.cancel'), icon: 'fa-times', remote: false})
  .sp



