= form_for @requests_cloning do |f|
  - if @requests_cloning.errors.any?
    #error_explanation
      %h2= "#{pluralize(@requests_cloning.errors.count, "error")} prohibited this requests_cloning from being saved:"
      %ul
        - @requests_cloning.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :mail
    = f.text_field :mail
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :shipping_address
    = f.text_field :shipping_address
  .field
    = f.label :group_leader
    = f.text_field :group_leader
  .field
    = f.label :payment_method
    = f.number_field :payment_method
  .field
    = f.label :sample_name
    = f.text_field :sample_name
  .field
    = f.label :sample_volume
    = f.text_field :sample_volume
  .field
    = f.label :pcr_product_size
    = f.text_field :pcr_product_size
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :sequencing_type
    = f.text_field :sequencing_type
  .field
    = f.label :inv_name
    = f.text_field :inv_name
  .field
    = f.label :inv_rfc
    = f.text_field :inv_rfc
  .field
    = f.label :inv_address
    = f.text_field :inv_address
  .field
    = f.label :inv_city
    = f.text_field :inv_city
  .field
    = f.label :inv_municipality
    = f.text_field :inv_municipality
  .field
    = f.label :inv_mail
    = f.text_field :inv_mail
  .actions
    = f.submit 'Save'
