.tbl-clonings.t-head
  .col-1
    =sortable 'name', t('titles.name'), requests_clonings_path
  .col-2
    =sortable 'sample_name', t('titles.sample_name'), requests_clonings_path
  .col-3
    &nbsp

-# @requests_clonings.each_with_index do |requests_cloning, i|
- i=0
- @requests_clonings.each do |requests_cloning|
  - i += 1
  .tbl-clonings{:id => "row-#{i}",:class => "alt-#{i % 2}" }
    .col-1
      = requests_cloning.name
    .col-2
      = requests_cloning.sample_name
    .col-3.t-cent
      = link_to_fa_button({url: requests_cloning, icon: 'fa-eye', title: t('commands.show'), remote: false})
      = link_to_fa_button({url: edit_requests_cloning_path(requests_cloning), icon: 'fa-pencil', title: t('commands.edit'), remote: false})
      = link_to_fa_button({url: requests_cloning_delete_path(requests_cloning), icon: 'fa-trash-o', title: 'Eliminar'})
      = link_to_fa_button({url: requests_pdf_req_download_path(requests_cloning.folio), icon: 'fa-file-pdf-o', title: t('commands.download', param: t('titles.pdf_request')), remote: false})

      -#= link_to_jq_button({url: admin_delete_user_path(admin_user), icon: 'trash', title: 'Eliminar'})
