#menu
  =render partial: 'layouts/admin_menu'

%h1= t('titles.requests_clonings')

.alert-notice
  =render partial: 'layouts/alert_notice'


=render 'layouts/search', url: requests_clonings_path

.t-right
  = link_to_fa_button({url: new_requests_cloning_path, text: t('commands.new'), icon: 'fa-plus-square-o',remote: false})
  = link_to_fa_button({url: requests_cloning_xlsx_range_path, text: t('titles.xls_clonings'), icon:'fa-download',remote: true})
  -#= link_to_fa_button({url: requests_cloning_xlsx_range_path, text: t('titles.xls_clonings'), icon:'fa-download',remote: true})
%br
#record-list
  =render partial: 'record_tbl'

.sp
.t-right
  = link_to_fa_button({url: new_requests_cloning_path, text: t('commands.new'), icon: 'fa-plus-square-o',remote: false})
  = link_to_fa_button({url: requests_clonning_download_xlsx_path, text: t('titles.xls_clonings'),icon: 'fa-download',remote: false})

.sp

#delete-dialog
#xlsx-range

