%h1= t('titles.cloning')

.t-right
  = link_to_fa_button({url: edit_requests_cloning_path(@requests_cloning), text: t('commands.edit'), title: t('commands.edit'), icon: 'fa-pencil', remote: false})
  = link_to_fa_button({url: requests_clonings_path, text: t('commands.close'), icon: 'fa-times', remote: false})
.sp

.alert-notice
  =render partial: 'layouts/alert_notice'

= show_for @requests_cloning do |r|

  %h3.t-head= t('titles.user_data')
  .tbl-clonings-attr
    .col-1
      = r.label :name
    .col-2
      = r.value :name
    .col-1
      = r.label :company
    .col-2
      = r.value :company
    .col-1
      = r.label :mail
    .col-2
      = r.value :mail
    .col-1
      = r.label :phone
    .col-2
      = r.value :phone
    .col-1
      = r.label :shipping_address
    .col-2
      = r.value :shipping_address
  %h3.t-head= t('titles.sample_data')
  .tbl-clonings-attr
    .col-1
      = r.label :group_leader
    .col-2
      = r.value :group_leader
    .col-1
      = r.label :payment_method
    .col-2
      =Requests::Cloning::PMT_METHOD[@requests_cloning.payment_method]
    .col-1
      = r.label :sample_name
    .col-2
      = r.value :sample_name
    .col-1
      = r.label :sample_volume
    .col-2
      = r.value :sample_volume
    .col-1
      = r.label :pcr_product_size
    .col-2
      = r.value :pcr_product_size
    .col-1
      = r.label :type
    .col-2
      = r.value :type
    .col-1
      = r.label :sequencing_type
    .col-2
      = r.value :sequencing_type
  %h3.t-head= t('titles.invoice_data')
  .tbl-clonings-attr
    .col-1
      = r.label :inv_name
    .col-2
      = r.value :inv_name
    .col-1
      = r.label :inv_rfc
    .col-2
      = r.value :inv_rfc
    .col-1
      = r.label :inv_address
    .col-2
      = r.value :inv_address
    .col-1
      = r.label :inv_municipality
    .col-2
      = r.value :inv_municipality
    .col-1
      = r.label :inv_state_id
    .col-2
      .wrapper=@requests_cloning.state.name
    .col-1
      = r.label :inv_mail
    .col-2
      = r.value :inv_mail

-#= link_to 'Edit', edit_requests_cloning_path(@requests_cloning)
-#\|
-#= link_to 'Back', requests_clonings_path
