%p#notice= notice

%p
  %b Login:
  = @admin_user.login
%p
  %b Name:
  = @admin_user.name
%p
  %b Mail:
  = @admin_user.mail

= jq_link_to edit_admin_user_path(@admin_user),t('commands.edit'),'pencil'
= jq_link_to admin_users_path, t('commands.close')

