.alert-notice
  =render partial: 'layouts/alert_notice'

= show_for @admin_user do |r|
  = r.attribute :login
  = r.attribute :name
  = r.attribute :mail
.sp
%hr

.t-right
  = link_to_fa_button({url: edit_admin_user_path(@admin_user), text:t('commands.edit'), icon:'fa-pencil'})
  = link_to_fa_button({url:admin_users_path, text: t('commands.close'), icon:'fa-times'})
